*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}
body,html{
    height: 100%;
    width: 100%;
}
.main{
    position: relative;
    overflow: hidden;
    /* background-color: black; */
}
.page{
    background-color: #000;
    position: relative;
    height: 100vh;
    width: 100vw;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    height: 7vh;
    width: 50vw;
    position: absolute;
    /* background-color: red; */
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    z-index: 99;
}
.nav>button{
    border-radius: 50px;
    color: #000;
    border: none;
    padding: 7px 10px;
    background-color:#fff;
}
.nav>h3{
    color: #fff;
    font-weight: 300;
}
/* .page>img{
    height: 100%;
    width: 50%;
    object-fit: cover;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: 15%;
} */
.page>video{
    height: 100%;
    width: 50%;
    object-fit: cover;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
}
.page-bottom{
    height: 20%;
    width: 25%;
    background-color: transparent;
    position: relative;
    bottom: -80%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.page-bottom>img{
    height: 70%;
    width: 100%;
}
.page1{
    background-color: #fff;
    position: relative;
    height: 100vh;
    width: 100vw;
}
.page1>video{
    height: 100%;
    width: 100%;
    object-fit:cover;
}
.page1>h1{
    font-size: 50px;
    font-weight: 800;
    bottom: 30%;
    position: absolute;
    color: white;
    text-align: center;
    transform: translateX(50%);
    white-space: nowrap;
}
.page2{
    position: relative;
    height: 100vh;
    width: 100vw;
}
.page2>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.page2>h1{
    font-size: 50px;
    font-weight: 800;
    bottom: 30%;
    position: absolute;
    color: white;
    text-align: center;
    transform: translateX(50%);
    white-space: nowrap;
}
.page3{
    position: relative;
    background-color: white;
    height: 100vh;
    width: 100vw;
}
.page3>img{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
}
.page3-upper{
    /* background-color: red; */
    height: 30%;
    width: 35%;
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
    z-index: 9;
}
.page3-upper>img{
    height: 60%;
    width: 100%;
}
.page3-upper-inner{
    height: 50%;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
    color: #ff832d;
}
.page3-upper-inner>h3{
    font-weight: 500;
}
.page3>button{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 30px;
    border: 1 px solid black;
    font-weight: 500;
    border-radius: 50px;
    scale: 1.5;
    /* font-size: 1.4vw; */
}
.page4{
    height: 100vh;
    width: 100vw;
    position: relative;
}
.page4>video{
    height: 100%;
    width: 100%;
    object-fit: cover
}
.center-page4{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
    font-size: 2vw;
}
.page5{
    height: 60vh;
    width: 100vw;
    /* background-color: green; */
    display: flex;
    position: relative;
}
.left5{
    position: relative;
    height: 100%;
    width: 50%;
    /* background-color:blue; */
    
}
.left5>h1{
    font-size: 2vw;
    position: absolute;
    top:10%;
    left: 50%;
    transform: translateX(-50%);
    padding: 1vw;
}
.right5{
    height: 100%;
    width: 50%;
    /* background-color:red; */
    text-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5vw;
}
.right5>h3{
    font-size: 1.5vw;
    width: 80%;
    color: rgba(0, 0, 0, 0.996);
    font-weight: 500;
}
.right5>button{
    padding: 10px 20px;
    border: none;
    background-color: #ff832d;
    color: white;
    font-weight: 500;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 50px;
    font-size: 1.2vw;
}
.page6{
    height: 70vh;
    width: 100vw;
    /* background-color: blue; */
     position:relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    text-align: center;
}
.page6>h3{
    margin-bottom: 1.5vw ;
    font-size: 2vw;
}
.page6>h1{
    margin-bottom: 1vw ;
    font-size: 4vw;
}
.page6>h4{
    margin-bottom: 1vw ;
    font-size: 1.3vw;
    width: 60%;
    text-align: center;
}
